<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.core.resources.markers"
      id="br.usp.each.saeg.code.forest.ui.marker.no"
      name="No Rank Code Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
</extension>
<extension point="org.eclipse.core.resources.markers"
      id="br.usp.each.saeg.code.forest.ui.marker.low"
      name="Low Rank Code Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
</extension>
<extension point="org.eclipse.core.resources.markers"
      id="br.usp.each.saeg.code.forest.ui.marker.midlow"
      name="Mid Low Rank Code Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
</extension>
<extension point="org.eclipse.core.resources.markers"
      id="br.usp.each.saeg.code.forest.ui.marker.midhigh"
      name="Mid High Rank Code Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
</extension>
<extension point="org.eclipse.core.resources.markers"
      id="br.usp.each.saeg.code.forest.ui.marker.high"
      name="High Rank Code Marker">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
</extension>

   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
     <specification
         annotationType="br.usp.each.saeg.code.forest.noRankAnnotation"
         icon="icons/empty.gif"
         colorPreferenceKey="noRank_color"
         colorPreferenceValue="220,220,220"
         contributesToHeader="false"
         highlightPreferenceKey="noRank_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="No Rank Annotation"
         overviewRulerPreferenceKey="noRank_overviewRuler"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="noRank_text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="noRank_verticalRuler"
         verticalRulerPreferenceValue="false">
     </specification>
     <specification
         annotationType="br.usp.each.saeg.code.forest.lowRankAnnotation"
         icon="icons/empty.gif"
         colorPreferenceKey="lowRank_color"
         colorPreferenceValue="192,255,192"
         contributesToHeader="false"
         highlightPreferenceKey="lowRank_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="Low Rank Annotation"
         overviewRulerPreferenceKey="lowRank_overviewRuler"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="lowRank_text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="lowRank_verticalRuler"
         verticalRulerPreferenceValue="false">
     </specification>
     <specification
         annotationType="br.usp.each.saeg.code.forest.midLowRankAnnotation"
         icon="icons/empty.gif"
         colorPreferenceKey="midLowRank_color"
         colorPreferenceValue="255,255,128"
         contributesToHeader="false"
         highlightPreferenceKey="midLowRank_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="Mid Low Rank Annotation"
         overviewRulerPreferenceKey="midLowRank_overviewRuler"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="midLowRank_text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="midLowRank_verticalRuler"
         verticalRulerPreferenceValue="false">
     </specification>
     <specification
         annotationType="br.usp.each.saeg.code.forest.midHighRankAnnotation"
         icon="icons/empty.gif"
         colorPreferenceKey="midHighRank_color"
         colorPreferenceValue="255,204,153"
         contributesToHeader="false"
         highlightPreferenceKey="midHighRank_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="Mid High Rank Annotation"
         overviewRulerPreferenceKey="midHighRank_overviewRuler"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="midHighRank_text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="midHighRank_verticalRuler"
         verticalRulerPreferenceValue="false">
     </specification>
     <specification
         annotationType="br.usp.each.saeg.code.forest.highRankAnnotation"
         icon="icons/empty.gif"
         colorPreferenceKey="highRank_color"
         colorPreferenceValue="255,160,160"
         contributesToHeader="false"
         highlightPreferenceKey="highRank_highlight"
         highlightPreferenceValue="true"
         includeOnPreferencePage="true"
         label="High Rank Annotation"
         overviewRulerPreferenceKey="highRank_overviewRuler"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="highRank_text"
         textPreferenceValue="true"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="highRank_verticalRuler"
         verticalRulerPreferenceValue="false">
     </specification>
   </extension>

    <extension point="org.eclipse.ui.editors.annotationTypes">
        <type
            markerSeverity="0"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="br.usp.each.saeg.code.forest.noRankAnnotation"
            markerType="br.usp.each.saeg.code.forest.ui.marker.no"/>
        <type
            markerSeverity="0"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="br.usp.each.saeg.code.forest.lowRankAnnotation"
            markerType="br.usp.each.saeg.code.forest.ui.marker.low"/>
        <type
            markerSeverity="0"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="br.usp.each.saeg.code.forest.midLowRankAnnotation"
            markerType="br.usp.each.saeg.code.forest.ui.marker.midlow"/>
        <type
            markerSeverity="0"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="br.usp.each.saeg.code.forest.midHighRankAnnotation"
            markerType="br.usp.each.saeg.code.forest.ui.marker.midhigh"/>
        <type
            markerSeverity="0"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="br.usp.each.saeg.code.forest.highRankAnnotation"
            markerType="br.usp.each.saeg.code.forest.ui.marker.high"/>
     </extension>
   
    <extension point="org.eclipse.ui.editors.markerUpdaters">
        <updater
            id="br.usp.each.saeg.code.forest.ui.markers.NoRankCodeMarkerUpdater"
            class="br.usp.each.saeg.code.forest.ui.markers.NoRankCodeMarkerUpdater"
            markerType="br.usp.each.saeg.code.forest.ui.marker.no">
        </updater>
        <updater
            id="br.usp.each.saeg.code.forest.ui.markers.LowRankCodeMarkerUpdater"
            class="br.usp.each.saeg.code.forest.ui.markers.LowRankCodeMarkerUpdater"
            markerType="br.usp.each.saeg.code.forest.ui.marker.low">
        </updater>
        <updater
            id="br.usp.each.saeg.code.forest.ui.markers.MidLowRankCodeMarkerUpdater"
            class="br.usp.each.saeg.code.forest.ui.markers.MidLowRankCodeMarkerUpdater"
            markerType="br.usp.each.saeg.code.forest.ui.marker.midlow">
        </updater>
        <updater
            id="br.usp.each.saeg.code.forest.ui.markers.MidHighRankCodeMarkerUpdater"
            class="br.usp.each.saeg.code.forest.ui.markers.MidHighRankCodeMarkerUpdater"
            markerType="br.usp.each.saeg.code.forest.ui.marker.midhigh">
        </updater>
        <updater
            id="br.usp.each.saeg.code.forest.ui.markers.HighRankCodeMarkerUpdater"
            class="br.usp.each.saeg.code.forest.ui.markers.HighRankCodeMarkerUpdater"
            markerType="br.usp.each.saeg.code.forest.ui.marker.high">
        </updater>
    </extension>

    <extension
        point="org.eclipse.ui.commands">
        <category
            id="br.usp.each.saeg.code.forest.ui.category"
            name="br.usp.each.saeg.code.forest.ui.category.name">
        </category>
        <command
            id="br.usp.each.saeg.code.forest.ui.commands.runAnalysis"
            categoryId="br.usp.each.saeg.code.forest.ui.category"
            name="br.usp.each.saeg.code.forest.ui.commands.runAnalysis">
        </command>
        <command
            id="br.usp.each.saeg.code.forest.ui.commands.removeAnalysis"
            categoryId="br.usp.each.saeg.code.forest.ui.category"
            name="br.usp.each.saeg.code.forest.ui.commands.removeAnalysis">
        </command>
        <command
            id="br.usp.each.saeg.code.forest.ui.commands.showKeyboardCodeForest"
            categoryId="br.usp.each.saeg.code.forest.ui.category"
            name="br.usp.each.saeg.code.forest.ui.commands.showKeyboardCodeForest">
        </command>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="br.usp.each.saeg.code.forest.ui.handlers.RunAnalysisHandler"
            commandId="br.usp.each.saeg.code.forest.ui.commands.runAnalysis">
        </handler>
        <handler
            class="br.usp.each.saeg.code.forest.ui.handlers.RemoveAnalysisHandler"
            commandId="br.usp.each.saeg.code.forest.ui.commands.removeAnalysis">
        </handler>
        <handler
            class="br.usp.each.saeg.code.forest.ui.handlers.ViewAsCodeForestKeyboardHandler"
            commandId="br.usp.each.saeg.code.forest.ui.commands.showKeyboardCodeForest">
        </handler>
    </extension>
    <extension
        id="add.item"
        point="org.eclipse.ui.menus">
        <menuContribution
            locationURI= "popup:org.eclipse.ui.popup.any?after=additions">
            <menu
                id="br.usp.each.saeg.code.forest.ui.menu"
                label="Code Forest"
                icon="icons/green_cactus.gif"><!-- ou icon ou label no menu principal -->
                <visibleWhen>
                    <with variable="selection">
                        <iterate ifEmpty="false">
                            <adapt type="org.eclipse.core.resources.IResource">
                                <test
                                    forcePluginActivation="true"
                                    property="br.usp.each.saeg.code.forest.ui.namespace.codeForestProjectType"
                                    value="true">
                                </test>
                            </adapt>
                        </iterate>
                    </with>
                </visibleWhen>
            </menu>
        </menuContribution>
        <menuContribution
            locationURI= "popup:br.usp.each.saeg.code.forest.ui.menu?after=additions">
            <command
                commandId="br.usp.each.saeg.code.forest.ui.commands.runAnalysis"
                icon="icons/analyse_it.gif"
                id="br.usp.each.saeg.code.forest.ui.menu.item.runAnalysis"
                label="Perform analysis">
            </command>
        </menuContribution>
        <menuContribution
            locationURI= "popup:br.usp.each.saeg.code.forest.ui.menu?after=additions">
            <command
                commandId="br.usp.each.saeg.code.forest.ui.commands.removeAnalysis"
                icon="icons/clear_analysis.gif"
                id="br.usp.each.saeg.code.forest.ui.menu.item.removeAnalysis"
                label="Remove analysis">
            </command>
        </menuContribution>
        <menuContribution
            locationURI= "popup:br.usp.each.saeg.code.forest.ui.menu?after=additions">
            <command
                commandId="br.usp.each.saeg.code.forest.ui.commands.showKeyboardCodeForest"
                icon="icons/view_as_forest.gif"
                id="br.usp.each.saeg.code.forest.ui.menu.item.showKeyboardCodeForest"
                label="View as a Code Forest">
            </command>
        </menuContribution>
    </extension>
    <extension point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
            class="br.usp.each.saeg.code.forest.ui.handlers.CodeForestProjectPropertyTester"
            id="br.usp.each.saeg.code.forest.ui.property.testers.project"
            namespace="br.usp.each.saeg.code.forest.ui.namespace"
            properties="codeForestProjectType,canPerformAnalysis,canRemoveAnalysis,canViewForest"
            type="java.lang.Object">
        </propertyTester>
    </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="br.usp.each.saeg.code.forest.menu.view.category"
            name="Code Forest">
      </category>
      <view
            category="br.usp.each.saeg.code.forest.menu.view.category"
            class="br.usp.each.saeg.code.forest.ui.views.CodeForestMouseView"
            icon="icons/gray_cactus.gif"
            id="br.usp.each.saeg.code.forest.menu.view.code.forest.mouse"
            allowMultiple="true"
            name="Code Forest Mouse View">
      </view>
      <view
            category="br.usp.each.saeg.code.forest.menu.view.category"
            class="br.usp.each.saeg.code.forest.ui.views.CodeForestKeyboardView"
            icon="icons/gray_cactus.gif"
            id="br.usp.each.saeg.code.forest.menu.view.code.forest.keyboard"
            allowMultiple="true"
            name="Code Forest Keyboard View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="br.usp.each.saeg.code.forest.menu.view.code.forest.mouse"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
  </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="br.usp.each.saeg.code.forest.menu.view.code.forest.keyboard"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.help.contexts">
     <contexts
           file="contexts.xml">
     </contexts>
  </extension>
</plugin>
